body {
  background-color: #f4f4f4; /* Color de fondo */
}

.container {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Borde con una pequeña sombra */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.form-group {
  display: flex;
  margin-bottom: 15px; /* Separación entre los campos */
}

.form-control {
  flex: 1; /* Los campos de entrada ocupan todo el espacio disponible */
  margin-right: 10px; /* Separación entre el campo y el botón */
}
